

<div class="row">
    <div class="col-md-6">
        <a href="@Url.Action("AddSkill", "Admin")" class="btn btn-primary">Add Skill</a>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("AddWork", "Admin")" class="btn btn-primary">Add Work</a>
    </div>
</div>
